html, body {
    margin: 0;
    padding: 0;
    background-color:#333;
}

.header {
    background-color: #333;
}

.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 940px;
}

.nav {
    margin: 0;
    list-style-type: none;
}

.nav li{
    color: #fff;
    display: inline-block;
    padding:20px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
}

#bgImg{
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: 7px;
}

.jumbotron {
    background: url(http://www.lahoo.ca/data/attachment/portal/201404/19/223743n4yykdesse8hes69.jpg) no-repeat center center;
    background-size: cover;
    height:600px;
}

.main {
    position:relative;
    top:180px;
    text-align:center;
}

.main h1 {
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-shadow:1px 2px 2px #333;
}

.main p {
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:25px;
    margin-bottom:27px;
    text-transform: uppercase;
    text-shadow:1px 2px 2px #333;
}

.btn-1 {
    background-color: #333;
    color:#fff;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size:20px;
    margin:0px auto;
    letter-spacing:1.3px;
    padding:10px 20px;
    text-decoration:none;
    text-transform:uppercase
}

.btn-1:hover, .nav li:hover{
    background-color: rgb(255,180,0);
    color:#333;
    transition: background-color, color, .35s;
    cursor:pointer;
}

.current .container {
    margin: 70px auto 80px;
}

.current img {
    float:left;
    margin:0px 70px 50px 0;
}

.current h2 {
    color:#b0b0b0;
    margin-bottom:0;
    font-family: 'Raleway', sans-serif;
}

.current hr {
    background-color:#b0b0b0;
    height:1px;
    border:0px;
}

.current p {
    color:#e0e0e0;
}

.footer {
    margin-top:-27px;
    background:linear-gradient(0deg, black, #444);
}

.footer .container {
    height:150px;
}
.footer h4 {
    color:#e0e0e0;
    font-family: 'Raleway', sans-serif;
    font-weight:400;
    font-size:20px;
    letter-spacing:1.3px;
    text-transform:uppercase;
    padding:30px 0px 0px 30px;
    padding-left:0px;
    margin-bottom:0px;
}

.cpr {
    color:#e0e0e0;
    padding: 0 0px 30px 100px;
}

.cpr p {
    color:#b0b0b0;
    font-family: 'Raleway', sans-serif;
    text-align:right;
    padding:10px 0px;
    margin:0px;
    text-transform:uppercase;
}

.cpr p span {
    text-transform:lowercase;
}
#hrcp {
    margin:auto;
    background-color:#b0b0b0;
    height:1px;
    border:0px;
}
#cp {
    text-align:center;
    margin:-15px;
}